:root {
    --blue: rgb(88,133,136);
}

* {
    box-sizing: border-box;
}

header {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: xx-large;
    color: var(--blue);
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: var(--blue);   
    padding: 5px;
    border-radius: 5px;
    font-size: large;
}

nav a:hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: var(--blue);
}

.intro h1 {
    margin: 0;
    font-size: 100px;
    color: white;
}

.item-card {
    border: 1px solid var(--blue);
}

.item-image {
    height: 200px;
    object-fit: scale-down;
    border-bottom: 1px solid var(--blue);
}

.item-desc {
    color: var(--blue);
}

.item-btn {
    border: 1px solid var(--blue);
    color: var(--blue);
    padding: 6px;
    text-decoration: none;
    border-radius: 5px;
}

.item-btn:hover {
    color: white;
    background-color: var(--blue);
}

.contact {
    height: 20vh;
    background-color: var(--blue);
    display: flex;
    padding-top: 4vh;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact h1 {
    color: white;
}

.contact div {
    display: flex;
    gap: 10px;
}

.contact a {
    text-decoration: none;
    color: white;
    padding: 7px;
    border: 1px solid white;
    border-radius: 5px;
}

.contact a:hover {
    color: var(--blue);
    background-color: white;
    border: 1px solid var(--blue);
}




@media (max-width: 500px){
    .intro h1 {
        font-size: 75px;
    }

    header {
        max-width: 92%;
    }

    .logo {
        font-size: x-large;
    }

    nav {
        gap: 0px;
    }

    nav a {
        font-size: medium;
    }
}